
//Proxima nova fonts - Light, Regular, Bold


//Light
@font-face {
    font-family: 'proxima_novalight';
    src: url('ProximaNova-Light-webfont.eot');
    src: url('ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Light-webfont.woff2') format('woff2'),
         url('ProximaNova-Light-webfont.woff') format('woff'),
         url('ProximaNova-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

//Regular
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('ProximaNova-Regular-webfont.eot');
    src: url('ProximaNova-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Regular-webfont.woff2') format('woff2'),
         url('ProximaNova-Regular-webfont.woff') format('woff'),
         url('ProximaNova-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

//Bold
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('ProximaNova-Bold-webfont.eot');
    src: url('ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Bold-webfont.woff2') format('woff2'),
         url('ProximaNova-Bold-webfont.woff') format('woff'),
         url('ProximaNova-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


//Base font
$base-font-size: 16px;

body, html{
	font-family: $prox;
	font-size: $base-font-size;
	line-height:22px;
}

h1,h2,h3,h4,h5{
	font-family: $prox;
	line-height: 1.3em;
	padding-bottom:5px;
	color:$tblue;
}

p, li{
	color:#727272;
	font-weight:300;
	font-size: em(16px);
}

h1{
	font-size: em(28px);
	font-weight:600;
}

h2{
	font-size: em(28px);
	font-weight:300;
}

h3{
	font-size: em(22px);
	font-weight:100;
	
	@include screen (medium){
		font-size: em(28px);		
	}
}

h4{
	font-size: em(18px);
	font-weight:300;
	
	@include screen (medium){
		font-size: em(22px);
	}
}

h5{
	font-size: em(16px);
}

blockquote{
	font-weight:italic;
}

strong{
	font-weight:500;
	color:$tblue;
}

span.shout-out{
	color:$tblue;
	font-weight:600;
}

time{
	font-size: em(22px);
	font-weight:200;
	line-height: 1.05em;
}